name: Taskie Pet CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: "liam-taskiepet"
  AZURE_WEBAPP_PACKAGE_PATH: "./TaskiePet.Api/TaskiePet.WebApi"
  DOTNET_VERSION: "9.x"
  SOLUTION_PATH: "./TaskiePet.Api/TaskiePet.slnx"
  API_PROJECT_PATH: "./TaskiePet.Api/TaskiePet.WebApi/TaskiePet.WebApi.csproj"
  PUBLISH_DIR: "./publish"

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: |
          dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build API project
        run: |
          dotnet build ${{ env.API_PROJECT_PATH }} --configuration Release --no-restore

      - name: Run tests on API project
        run: |
          dotnet test ${{ env.API_PROJECT_PATH }} --no-restore --no-build --verbosity normal

      - name: Publish API project
        run: |
          dotnet publish ${{ env.API_PROJECT_PATH }} --configuration Release --no-restore --no-build --property:PublishDir=${{ env.PUBLISH_DIR }}

      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

  deploy:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: [build-and-test]

    steps:
      - name: Download Artifacts from build job
        uses: actions/download-artifact@v4
        with:
          name: webapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
